<% layout('layout') -%>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-vertical-align uk-text-center">
            <div class="uk-vertical-align-middle uk-width-1-2">
                <h1 class="uk-heading-large">Site Template</h1>
                <p class="uk-text-large">UIKit + Node.js template for signing up and autocomplete search.</p>
            </div>
        </div>
    </div>
</div>

   



